<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Web</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/datatables-bootstrap5/dist/css/dataTables.bootstrap5.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link href="/css/site.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <body>
        <div class="wrapper">
            <nav id="sidebar" class="sidebar js-sidebar">
                <div class="sidebar-content js-simplebar">
                    <a class="sidebar-brand" href="index.html">
              <span class="align-middle"> ASP.NET Core Edu It</span>
            </a>

                    <ul class="sidebar-nav">
                        <li class="sidebar-header">
                            Paginas
                        </li>

                        <li class="sidebar-item active">
                            <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                                 <i class="align-middle" data-feather="home"></i> <span class="align-middle">Inicio</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Usuarios" asp-action="Usuarios">
                  <i class="align-middle" data-feather="user"></i> <span class="align-middle">Usuarios</span>
                </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Roles" asp-action="Roles">
                  <i class="align-middle" data-feather="trello"></i> <span class="align-middle">Roles</span>
                </a>
                        </li>
                         <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Productos" asp-action="Productos">
                  <i class="align-middle" data-feather="command"></i> <span class="align-middle">Productos</span>
                </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#">
                  <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Cerrar Session</span>
                </a>
                        </li>

                </div>
            </nav>

            <div class="main">
                <nav class="navbar navbar-expand navbar-light navbar-bg">
                    <a class="sidebar-toggle js-sidebar-toggle">
                        <i class="hamburger align-self-center"></i>
                    </a>
                </nav>

                <div class="container">
                    <main role="main" class="pb-3">
                    @RenderBody()
                    </main>
                </div>

                <footer>
                    <div class="container-fluid">
                        <div class="row text-muted">
                            <div class="col-6 text-start">
                                <p class="mt-5">
                                    Educacion IT
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/moment/dist/js/moment.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-dataTables/dist/js/jquery.datatables.min.js"></script>
        <script src="~/lib/datatables-bootstrap5/dist/js/dataTables.bootstrap5.min.js"></script>
        <script src="/js/site.js"></script>
        <script src="https://kit.fontawesome.com/f8fcaa487b.js" crossorigin="anonymous"></script>
        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>